<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
    <appender
        name="FILE" class="ch.qos.logback.core.FileAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <file>logs/certificate-service.log</file>
    </appender>

    <root level="INFO">
        <appender-ref ref="jsonConsoleAppender" />
        <appender-ref ref="FILE"/>
    </root>
</configuration>